body{
    margin: auto;
    margin-top: 20px;
    width: 65%;
    height: 1000px;
    box-sizing: content-box;
    border: 2px solid #dce2f4;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #ffffff;
    font-family: serif;
}

header{
    background-color: #dce2f4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.titre{
    margin-left: 29%;
    color: #273575;
    z-index: 1;
    height: 100px;
    position: relative;
    top: 30px;
    line-height: 0px;
}


.aside{
    /* position: relative; */
    display: inline-block;
    width: 245px;
    text-align:justify;
    margin: auto;
    margin-left: 2%;
    z-index: 5;
    margin-top: -100px;


    .coordonne{
        background-color: #f4f7ff;
        padding: 20px;
        font-size: 14px;
        line-height: 27px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        h3{
            background-color: #ffffff;
            width: min-content;
            position: relative;
            top: 10px;
            padding-left: 3px;
            padding-right: 3px;
            letter-spacing: 2px;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 12px;
            color: #273575;
        }

        .image{
            margin-left: 20px;
            img{
                border-radius: 13px;
            }
        }
    }

    .competences{
        background-color: #f4f7ff;
        padding: 20px;
        font-size: 14px;
        line-height: 17px;
        position: relative;
        top: 10px;
        
        ul{
            line-height: 25px;
        }

        h3{
            background-color: #ffffff;
            width: min-content;
            padding-left: 3px;
            padding-right: 3px;
            letter-spacing: 2px;
            font-size: 20px;
            font-weight: 700;
            color: #273575;
        }
        h6{
            font-size: 14px;
            font-weight: bold;
        }
    }

    .interet{
        background-color: #f4f7ff;
        padding: 20px;
        font-size: 14px;
        line-height: 27px;
        position: relative;
        top: 20px;
        height: 140px;

        h3{
            background-color: #ffffff;
            width: max-content;
            padding-left: 3px;
            padding-right: 3px;
            font-size: 20px;
            font-weight: 700;
            color: #273575;
        }
    }

}



.section{
    position: relative;
    padding: 10px;
    padding-top: 20px;
    float: right;
    width: 660px;
    z-index: 1;

    p{
        text-align: justify;
        width: 90%;
    }
    h3{
        background-color: #f3f7fd;
        width: min-content;
        padding-left: 3px;
        padding-right: 3px;
        color:#273575;
        margin-bottom: 15px;
    }

    .formation{
        margin-top: 30px;
        position: relative;

        dt{
            color:#273575;
        }
        ul div{
            color:#273575;
            float: right;
        }
        .bac{
            position: relative;
            top: -67px;
            right: 70px;
            font-size: 20px;
            font-weight: bold;
        }
        .L1{
            position: relative;
            top: -65px;
            right: 70px;
            font-size: 20px;
            font-weight: bold;
        }
        .L2{
            position: relative;
            top: -60px;
            right: 70px;
            font-size: 20px;
            font-weight: bold;
        }
        dd{
            font-size: 14px;
            color: grey;
        }

        .li2{
            margin-top: 10px;
        }

    }

    .experience{
        margin-top: 30px;

        dt{
            color: #273575;
        }
    }    

}





/* mise en pages adaptative */




@media screen and (max-width: 390px)
{
    body{
        width: 355px;
        min-width: 355px;
    }

    .titre{
        h1{
            font-size: 25px;
            position: relative;
            left: 20px;
        }
        span{
            font-size: 12px;
            position: relative;
            left: 20px;
            
        }
    }


 /* PREMIERE PARTIE DÉDIÉ A NOTRE BLOC LATÉRAL (ASIDE) */
    .aside{
        width: 120px;
        margin-left: 0;

        h3{
            margin-top: 10px;
            font-size: 12px;
        }

        .coordonne{
            padding: 2px;
            font-size: 9px;
            line-height: 20px;


            .bi.bi-envelope{
                width: 8px;
                height: 8px;
                margin-right: 2px;
            }

            .bi.bi-telephone-inbound-fill{
                width: 8px;
                height: 8px;
                margin-right: 2px;
            }

            .bi.bi-geo-alt{
                width: 8px;
                height: 8px;
                margin-right: 2px;
            }

            img{
                position: relative;
                width: 90px;
                height: 90px;
                margin-left: -8px;
                margin-top: 4px;
                border-radius: 5px;
            }

            h3{
                width: min-content;
                font-size: 15px;
            }
        }

        .competences{
            padding: 2px;
            font-size: 8px;

            h6{
                font-size: 11px;
                text-align: justify;
            }


            ul{
                margin-left: -18px;
                line-height: 20px;
            }

            h3{
                width: min-content;
                font-size: 14px;
            }
        }

        .interet{
            padding: 2px;
            font-size: 9px;

            h3{
                width: max-content;
                font-size: 15px;
            }
        }
        
    }

 /* ----------------------FIN ASIDE  -------------------------*/



 /* --------------------DEBUT SECTION---------------------------*/

    .section{
        width: 235px;
        padding: 4px;
        font-size: 10px;
        text-align: justify;

        p{
            width: 100%;
            padding: 3px;
        }

        h3{
            font-size: 15px;
            position: relative;
            margin-bottom: 0;
            font-weight: bolder;
        }

        .formation{
            margin-top: 0;

            ul li{
                margin-left: -20px;
            }

            dt{
                font-size: 9px;
            }

            dd{
                font-size: 10px;
                margin-left: 7px;

            }

            .bac{
                font-size: 8px;
                position: relative;
                right: 7px;
                top: -45px;
            }

            .L1{
                font-size: 8px;
                position: relative;
                right: 7px;
                top: -45px;
            }

            .L2{
                font-size: 8px;
                position: relative;
                right: 7px;
                top: -45px;
            }

            .li1{
                margin-top: -10px;

                ul{
                    margin-top: -12px;
                }
            }
            .li2{
                ul{
                    margin-top: -10px;
                }
            }
        }

        .experience{
            margin-top: -7px;

            .TP{
                margin-top: -10px;
            }

            .dtEX{
                position: relative;
                left: 10px;
            }
        }
    }

}